<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome</h1>
          <p class="lead">This is a machine learning algorithm that predicts the direction of the stock market.</p>
        </div>
    </div>
    <div class="container">
        <label for="stocks">Choose a stock:</label>
        <select name="stock_list" onchange="myfunction(this.value);">
            <option value="AMPY">AMPY</option>
            <option value="BEP">BEP</option>
            <option value="CMS">CMS</option>
            <option value="CVE">CVE</option>
            <option value="EPD">EPD</option>
            <option value="HASI">HASI</option>
            <option value="NEE">NEE</option>
            <option value="OXY">OXY</option>
            <option value="PAA">PAA</option>
            <option value="SPWR">SPWR</option>
        </select>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
        </script>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-warning btn-lg" href="/ml" role="button">Run The Algorithm</a></p>
        <script>
            function myfunction(stock) {
            
                const s = JSON.stringify(stock); // Stringify converts a JavaScript object or value to a JSON string
                console.log(s); // Prints the variables to console window, which are in the JSON format
                $.ajax({
                    url:"/test",
                    type:"POST",
                    contentType: "application/json",
                    data: JSON.stringify(s)});
            }
        </script>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Accuracy Score</h1>
          <h4 class="media-heading">{{ prediction.accuracy_score }}</h4>
        </div>
    </div>
</body>
</html>
